@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:  'Barlow', sans-serif;
    background-color: #eeeeee;
}